[Unit]
Description=PiTV Television Interface
Requires=multi-user.target pitv-shell.service
After=multi-user.target
Wants=network-online.target pitv-inputd.service pitv-displayd.service pitv-android-warm.service
Conflicts=rescue.target emergency.target
AllowIsolate=yes

[Install]
Alias=default.target
